name: GCP

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Setup Gcloud Account
    runs-on: ubuntu-latest
    environment: ts-prod
    env:
      IMAGE_NAME: gcr.io/${{ secrets.GCP_PROJECT_ID }}/trashsaver:latest
      CLOUDSQL_INSTANCE: ${{ secrets.GCP_CLOUDSQL_INSTANCE }}
      INSTANCE_HOST: ${{ secrets.GCP_INSTANCE_HOST }}
      DB_USER: ${{ secrets.GCP_DB_USER }}
      DB_PASS: ${{ secrets.GCP_DB_PASS }}
      DB_NAME: ${{ secrets.GCP_DB_NAME }}
      VCP_CONNECTOR: ${{ secrets.VCP_CONNECTOR }}
    steps:
      # Git checkout
      - name: Checkout
        uses: actions/checkout@v2

      # Login to GCP
      - uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GCP_CREDENTIALS }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      # gcloud configure docker
      - name: Configure Docker
        run: gcloud auth configure-docker --quiet

      # build image
      - name: Build Docker image
        run: docker build -t $IMAGE_NAME .

      # push image to registry
      - name: Push Docker image
        run: docker push $IMAGE_NAME

      # deploy image
      - name: Deploy Docker image
        run: gcloud run deploy trashsaver --image $IMAGE_NAME --region us-central1 --memory 128Mi --min-instances 0 --max-instances 1 --platform managed --port 80 --allow-unauthenticated --add-cloudsql-instances $CLOUDSQL_INSTANCE --set-env-vars "INSTANCE_HOST=${{ secrets.GCP_CLOUDSQL_INSTANCE }}" --set-env-vars "DB_USER= ${{ secrets.GCP_DB_USER }} --set-env-vars "DB_PASS=${{ secrets.GCP_DB_PASS }}" --set-env-vars "DB_NAME=${{ secrets.GCP_DB_NAME }}" --vpc-connector $VCP_CONNECTOR
